*{
    margin: 0;
    padding: 0;
}
/* 导航 */
.nav-pills{
    background-color: pink;
}

.header{
    background-color: #393d49;
    width: 100%;
    min-width: 1170px;
}
.layui-container{
    width: 1170px;
    height: 60px;
}
.header .logo{
    display: inline-flex;
}
.header .logo span{
    line-height: 60px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    margin-left: 8px;
}
.header .logo img{
    margin-top: 10px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}
.my-nav{
    float: right;
    padding: 0;
}
.layui-nav .layui-nav-item{
    margin-left: 16px;
}

.layui-nav .layui-this:after, .layui-nav-bar{
    height: 4px;
}

/* 内容 */
.my-content{
    width: 1170px;
    margin: 0 auto;
    position: relative;
}

.column .mytitle{
    background-color: #fff;
    box-shadow: 1px 2px 3px #f2f6f8;
}

/* 旋转90度 */
.rotate1{
    transform:rotate(90deg);
    transition:all .5s linear;
}
/* 初始状态的旋转位置 */
.rotate{          
    transform:rotate(0);
    transition:all .3s linear;
}

/* 页尾 */
.footer{
    background-color: #393d49;
    height: 140px;
    width: 100%;
    min-width: 1170px;
    text-align: center;
    position: relative;
}

.footer-text1{
    padding-top: 20px;
    padding-bottom: 7px;
    color: rgb(233, 233, 233);
    font-size: 16px;
    font-weight: 500;
}
.footer-text2{
    padding-bottom: 12px;
    color: rgb(200, 200, 200);
    font-size: 10px;
    line-height: 16px;
}
.footer .but1{
    margin-right: 20px;
}
.footer img{
    height: 90px;
    float: right;
    position: absolute;
    right: 10px;
    top: 26px;
    z-index: 999;
}
.authorities a{
    color: rgb(200, 200, 200);
    font-size: 10px;
}