.main{
    min-height: 888px;
    background-color: #FAFAFA;
    display: flex;
}
/* 侧边栏 */
.sidebar .layui-menu{
    height: 100%;
    text-align: center;
    width: 156px;
}
.sidebar .layui-card{
    height: 100%;
    background-color: #F6F6F6;
}

.sidebar .layui-card-header{
    background-color: #e2e2e2;
    color: black;
    cursor:pointer;
}
.sidebar .layui-card-body{
    background-color: #eeeeee;
    padding: 0;
}
.sidebar .layui-card-body:hover{
    color: #5FB878;
    cursor:pointer;
}
.sidebar .con{
    border-left: 5px solid #5FB878;
    border-radius: 0 2px 2px 0;
    color: #5FB878;
}
/* 右边盒子 */
.rightbox{
    flex: 1;
}
.rightbox .doc{
    display: none;
    line-height: 25px;
    margin-bottom: 88px;
}
.doc .title{
    padding: 30px 0;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}
.doc ul{
    width: 800px;
    margin: 0 auto;
    font-size: 16px;
}

.doc ul li{
    list-style-type:square;
    margin-top: 10px;
}
.layui-card{
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%);
}

/*----------------------------------------------*/

.content>li a{
    color: dodgerblue;
}

.content>h3{
    margin-bottom: 10px;
    font-weight: 700;
    box-shadow: 0 2px 2px -2px rgb(0 0 0 / 15%);
}

.doc>ul{
    display: block;
    margin-top: 20px;
}

.rightArrow{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: 4px;
}